In [1]:
# for loop
students = ['abhishek','ravi','mukdendra','imran']
print(students)

['abhishek', 'ravi', 'mukdendra', 'imran']

In [2]:
for x in students:
    print(x)

abhishek
ravi
mukdendra
imran

In [5]:
for x in students:
    print(f"{x.title()}, we all are attending python session")
    print(f"we are sharing github practice link,{x.title()}.\n")
print("We all are enjoying python session !! ")

Abhishek, we all are attending python session
we are sharing github practice link,Abhishek.

Ravi, we all are attending python session
we are sharing github practice link,Ravi.

Mukdendra, we all are attending python session
we are sharing github practice link,Mukdendra.

Imran, we all are attending python session
we are sharing github practice link,Imran.

We all are enjoying python session !!

In [6]:
# For making a Numerical List
for value in range(1,100):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [7]:
numbers = list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
# Print only even numbers 
even_num = list(range(2,30,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [9]:
min(even_num)

2

In [10]:
max(even_num)

28

In [11]:
# TUPLE
x = (1,2,3,4)
print(x)

(1, 2, 3, 4)