In [1]:
a = ['aws', 'java', 'python','C']
a.pop()

'C'

In [2]:
a

['aws', 'java', 'python']

In [3]:
#To delet aws from the list
a.pop(0)

'aws'

In [4]:
a

['java', 'python']

In [5]:
motorcycles = ['bajaj','bmw','honda','suzuki']
print(motorcycles)

['bajaj', 'bmw', 'honda', 'suzuki']

In [6]:
#Removing 'suzuki' from the list
motorcycles.remove('suzuki')

In [7]:
motorcycles

['bajaj', 'bmw', 'honda']

In [8]:
#Arrange in alphabatical order
cars = ['bmw','audi','tesla','benz']
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'tesla']

In [9]:
cars_1 = ['tesla','bmw','maruti','jaguar','landrover']
print('here is the only list:')
print(cars_1)

print('\n here is the sorted list :')
print(sorted(cars_1))

print('\n here is the original list')
print(cars_1)

here is the only list:
['tesla', 'bmw', 'maruti', 'jaguar', 'landrover']

 here is the sorted list :
['bmw', 'jaguar', 'landrover', 'maruti', 'tesla']

 here is the original list
['tesla', 'bmw', 'maruti', 'jaguar', 'landrover']

In [10]:
# How to reverse a list
cars_1

['tesla', 'bmw', 'maruti', 'jaguar', 'landrover']

In [11]:
cars_1.reverse()
print(cars_1)

['landrover', 'jaguar', 'maruti', 'bmw', 'tesla']

In [12]:
# How to count number of elements in a list
cars_1

['landrover', 'jaguar', 'maruti', 'bmw', 'tesla']